body {
    margin: 0;
    font-family: Arial;
}

.container {
    display: flex;
}

/* PANEL */
.panel {
    width: 180px;
    background: #222;
    color: white;
    padding: 10px;
    height: 100vh;
}

.panel button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    background: #444;
    color: white;
}

.panel button:hover {
    background: #666;
}

/* TABLERO */
#tablero {
    display: grid;
    grid-template-columns: repeat(12, 50px);
    grid-template-rows: repeat(12, 50px);
    gap: 2px;
    padding: 10px;
}

/* CASILLAS */
.casilla {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/* TERRENO */
.agua { background: #3498db; }
.llanura { background: #7ed957; }
.montaña { background: #8d6e63; }

/* RECURSOS (bloqueados) */
.madera,
.oro,
.comida {
    background-color: #aa0000 !important;
    color: white;
    font-size: 18px;
}
.posible {
    outline: 3px solid yellow;
}
/* borde por jugador */
.j0 { outline: 3px solid white; }
.j1 { outline: 3px solid cyan; }
.j2 { outline: 3px solid yellow; }
.j3 { outline: 3px solid orange; }

#tablero {
    display: grid;
    grid-template-columns: repeat(16, 40px);
    grid-template-rows: repeat(16, 40px);
    gap: 2px;
}

.casilla {
    width: 40px;
    height: 40px;
    font-size: 16px;
}