body{
    background:#222;
    color:white;
    font-family:Arial;
    display:flex;
}

/* TABLERO */
#tablero{
    display:grid;
    grid-template-columns: repeat(21, 35px);
    grid-template-rows: repeat(21, 35px);
    gap:2px;
    margin:10px;
}

.casilla{
    width:35px;
    height:35px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:14px;
    cursor:pointer;
}

/* TERRENOS */
.llanura{ background:#3a5f3a; }
.agua{ background:#2a4f7a; }
.montaña{ background:#5a3a1f; }

/* MOVIMIENTO */
.posible{ outline:2px solid lime; }

/* JUGADORES */
.j0{ outline:2px solid white; }
.j1{ outline:2px solid cyan; }
.j2{ outline:2px solid yellow; }
.j3{ outline:2px solid orange; }

/* PANEL */
.panel{
    margin:10px;
    width:320px;
}

table{
    width:100%;
    text-align:center;
    border-collapse:collapse;
    margin-bottom:10px;
}

td,th{
    border:1px solid #555;
    padding:4px;
}

input{
    width:45px;
}